body {
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
  height: 6em;
  padding: 3em;
  font-size: 2em;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center;
}

header h1 {
  margin: 0px;
  font-weight: 400;
  color: rgb(11, 22, 65);
}

.products {
  width: 80%;
  margin: auto;
}

.products td {
  width: 50%;
  padding: 2em;
}

.products img {
  width: 100%;
  border: solid 1px #ddd;
  border-radius: 1em;
}

footer {
  height: 3em;
  line-height: 3em;
  background-color: rgb(58, 29, 18);
  color: white;
  text-align: center;
  font-weight: 900;
}

footer p{
  margin: 0px;
}